$colorBlack: #000;
$colorWhite: #ffffff;
// text
$colorText: #ffaf40; 
$colorText-1: #121a21;
// background
$colorBg: #ffffff;
// $colorBg: #293241;
$colorFree: #ffaf40;
//color-active
$colorActive: #24baef;


// $colorText: #97979f; 