$colorBlack: #000;
$colorWhite: #ffffff;
// text
$colorText: #97979f; 
$colorText-1: #121a21;
// background
$colorBg: #3d3d3d;
// $colorBg: #293241;
$colorFree: #ffaf40;
//color-active
$colorActive: #24baef;